{% extends "base.html" %}

{% block main %}

    Banco de Horas <br>

    {% for registro_he in object_list %}
        
        <a href="{% url "edit_hora_extra" registro_he.id %}">
            {{ registro_he }}
        </a>
        <a href="{% url "delete_hora_extra" registro_he.id %}">Deletar</a> <br>
    {% endfor %}

    {% comment %} <a href="{% url "create_funcionario" %}" class="btn btn-info">Novo</a> {% endcomment %}

    {% if not object_list %}
        <h3>Não existem registros de horas extras no banco de dados</h3>
    {% endif %}

{% endblock main %}