{% extends "base.html" %}

{% load bootstrap %}

{% block main %}

    Edit

    <form action="" method="post">
        {% csrf_token %}
        {{ form | bootstrap }}
        <br>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <br>
    {% if object %}
        <a href="{% url "create_documento" object.id %}" class="btn btn-info">
            Adicionar documento
        </a>
    {% endif %}
    

<br>

{% for documento in object.documento_set.all  %}

    <a href="{{ documento.arquivo.url }}">{{ documento }}</a>  <br>

{% endfor %}

{% endblock main %}